@model IEnumerable<Exportacao.Models.Movimentacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Carregando</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-add"></i> Novo</a>
</p>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success" class="btn btn-primary"><i class="fa fa-search"></i> Detalhes</a> | 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
        <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
        </script>
}